body {
  display:block;
  width:100%;
  height:100%;
}

div#root {
  display:block;
  width:100%;
  height:100%;
}

.Ultimate-Brick-Breaker {
  display:block;
  height:100%;
  width:100%;
  background-color:bisque;
  margin: 0 auto;
}

html {
  display:block;
  width:100%;
  height: 100%;
  background-color:black;
}